.question {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.answer {
    overflow: hidden;
    margin: 0;
    padding-inline-start: 1em;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 1s;
}

.answerInner {
    overflow: hidden;
}

.expanded {
    grid-template-rows: 1fr;
}

.triangle {
    transform: rotate(0deg);
}

.rotatedRight {
    transform: rotate(-90deg);
}

.container {
    display: flex;
    flex-direction: column;
}